<script src="/tiny/resources/js/signature.js"></script>
<div class="title cf">
	<h2 class="fl animate seven"><span>O</span><span style="padding-right: 5px;"></span><span>C</span><span style="padding-right: 5px;"></span><span>R</span><span style="padding-right: 20px;"></span><span>S</span><span>i</span><span>g</span><span >n</span><span >a</span><span >t</span><span >u</span><span >r</span><span >e</span></h2>
	<ul class="title-list fr cf ">
		<li id="th-main" class="on">Signature</li>
		<p>
			<b></b>
		</p>
	</ul>
</div>
<div class="tab-wrap tab-wrap-full">
	<div id="tc-main" class="tab w3-animate-left" style="display: block; height: 100%">#parse("/templates/ocr/signature/main.vm")</div>
</div>