<div class="ct-out" style="height: calc(100% - 10px);">
	<div class="ct-block ct-s-block" style="height: 100%;">
		<span class="title">Signature Recognition</span>
		<div style="display: flex; height: calc(100% - 0px);">
			<div class="left" style="width: 540px; overflow-y: auto;">
				<form id="signUploadForm" class="form-inline" action="/tiny/ocr/signUpload.do" method="POST" style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px;">
					<div class="form-group" style="background: #eee; border-radius: 2px;">
							<input type="file" accept=".tiff,.tif,.png,.jpg,.bmp,.ico,.pdf" name="file" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 250px;width: 250px; height: 34px;"/>
					</div>
					<button type="button" class="btn btn-default btn-info form-group"
						style="margin-left: 10px;" onclick="doSignUpload()" >Upload</button>
					<button id="sign-val" type="button" class="btn btn-default btn-info form-group btn-off"
						style="margin-left: 10px;" onclick="doSignVal()" >Validate</button>
                    <span class="page-arrow" tooltip="Go to detail" flow="left">
                        <i id="sign-next" class="fa fa-arrow-right btn-off" aria-hidden="true" onclick="doSignNext()"></i>
                    </span>
				</form>
				<table class="table table-hover form" style="margin: 0px">
					<tbody id="signature-val-result">
					    <input type="hidden" class="form-control" id="validateImageId" name="validateImageId" />
						<tr>
                            <th>Name</th>
                            <td style="position: relative;">
                                <input type="text" class="form-control" id="name" name="name" placeholder='' data-type="" data-rule="" data-max-len="" data-min-len="" data-required="">
                                <input type="hidden" class="form-control" id="writerId" name="writerId" placeholder='' data-type="" data-rule="" data-max-len="" data-min-len="" data-required="">
                                <span class="error-tip" id="err-$item.id" style="display: none;"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>E-Mail</th>
                            <td style="position: relative;">
                                <input type="text" class="form-control" id="email" name="email" placeholder='' data-type="" data-rule="" data-max-len="" data-min-len="" data-required="">
                                <span class="error-tip" id="err-$item.id" style="display: none;"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>Comments</th>
                            <td style="position: relative;">
                                <input type="text" class="form-control" id="comments" name="comments" placeholder='' data-type="" data-rule="" data-max-len="" data-min-len="" data-required="">
                                <span class="error-tip" id="err-$item.id" style="display: none;"></span>
                            </td>
                        </tr>
                        <tr>
                            <th id="status" colspan="2">
                            </th>
                        </tr>
					</tbody>
				</table>
				<form id="signSubmitForm" class="form-inline" action="" method="POST" style="margin-bottom: 20px; margin-left: 10px;">
					<button id="sign-sub" type="button" class="btn btn-default btn-info form-group btn-off"
						style="margin-left: 10px;" onclick="doSignSumbit()" >Submit</button>
					<button id="sign-fix" type="button" class="btn btn-default btn-info form-group btn-off"
						style="margin-left: 10px;" onclick="doSignFix()" >Fix</button>
					<select id="writer-list" class="form-group opt-off" onchange="onWriterChange(this);">
					    <option value="-1">Blank</option>
					    #foreach($temp in $writer-list)
                            <option value="$temp.id">$temp.full</option>
					    #end
                    </select>
				</form>
                <div id="cut-ct" style="padding: 20px; padding-bottom: 15px; overflow: auto;  border-top-right-radius: 4px; border-bottom-right-radius: 4px; width: 500px; height: 300px;">

                </div>
                <div class="position-ct">
                    <div>
                        <label style="padding-left: 10px; width: 80px">Image</label>
                        <span>W:</span><input type="text" id="image-w" name="image-w" disabled/>
                        <span>H:</span><input type="text" id="image-h" name="image-h" disabled/>
                        <span id="image-option-switch" class="action" onclick="optionSwitch(this);"><i class="fa fa-cogs"  aria-hidden="true"></i></span>
                        <select id="transparency" class="action">
                            <option value="1">OPAQUE</option>
                            <option value="2">BITMASK</option>
                            <option value="3">TRANSLUCENT</option>
                        </select>
                        <span style="padding-left: 20px;">Scale:</span><input type="text" id="image-scale" name="image-scale" disabled/><span>%</span>
                    </div>
                    <div>
                        <label style="padding-left: 10px; width: 80px">Rectangle</label>
                        <span>W:</span><input type="text" id="box-w" name="box-w" disabled/>
                        <span>H:</span><input type="text" id="box-h" name="box-h" disabled/>
                        <span>X:</span><input type="text" id="box-x" name="box-x" disabled/>
                        <span>Y:</span><input type="text" id="box-y" name="box-y" disabled/>
                        <label id="clean-btn" class="action"
                            style="margin-left: 15px; padding-left: 2px; padding-right: 2px; background: #555; color: #fff; border-radius: 2px; line-height: 18px; cursor: pointer;"
                            onclick="cleanRectangle()" tooltip="CTRL + ALT + C" flow="down">
                            <i class="fa fa-eraser" aria-hidden="true"></i>
                        </label>
                        <label class="action" id="sign-canvas-switch" style="margin-left: 15px; cursor: pointer; display: none; " onclick="canvasSwitchClick(this)">
                            <i class="fa fa-toggle-off"></i>
                        </label>
                        <label class="action" id="sign-image-cut"
                            style="margin-left: 15px; opacity: 0.6; color: #222; width: 20px; text-align: center; border-radius: 2px; padding-right: 5px;"
                            onclick="canvasSwitchClick(this)" tooltip="CTRL + ALT + A" flow="down">
                            <i class="fa fa-scissors" aria-hidden="true"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div style="border-left: 1px solid #ddd; margin-left: 20px; margin-right: 20px" >
            </div>
            <div class="right " style='width: calc(100% - 540px); '>
                <div id="sign-tiff-ct" class="tiff-ct" style='height: calc(100% - 0px); overflow: auto;'>
                    <div id="tiff-show" class="show-upload" style='position: relative;'><p class="blank">Please upload a signature image</p></div>
                </div>
                <div class="option-ct" style="display: none;">
                    <input id="stew" name="stew" type="text" ></input>
                    <span class="plus" onclick="imagePlus();"><i class="fa fa-plus"  aria-hidden="true"></i></span>
                    <span class="minus" onclick="imageMinus();"><i class="fa fa-minus"  aria-hidden="true"></i></span>
                    <span class="apply-stew" onclick="imageStewApply();"><i class="fa fa-cog"  aria-hidden="true"></i></span>
                    <span class="save" onclick="imageSave();"><i class="fa fa-save"  aria-hidden="true"></i></span>
                    <span class="show-max" data-target="#dialog-image-signature" data-toggle="modal"><i class="fa fa-expand"  aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>