<!DOCTYPE html>
<html>
  <head>
    <title>$!{systemUtils.getContextName()} Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="#springUrl('/resources/bootstrap-master/dist/css/bootstrap.min.css')" rel="stylesheet" media="screen">
     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]><script src="#springUrl('/resources/html5shiv-master/dist/html5shiv.js')"></script><![endif]-->
    <script src="#springUrl('/resources/vendors/modernizr-2.6.2-respond-1.1.0.min.js')"></script>
    <script src="#springUrl('/resources/jquery/1.6/jquery.js')" ></script>
	<script src="#springUrl('/resources/jqueryform/2.8/jquery.form.js')" ></script>
    <link href="#springUrl('/resources/lemon/css/log_regis.css')" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="#springUrl('/resources/bootstrap-master/docs/lemon_favicon.ico')" type="image/x-icon">
  </head>
  
  <body id="register">
    	<div class="container">
    <div class="row" style="margin-top: 60px;">
        <div class="col-md-4 col-md-offset-4">
        	<div class="pr-wrap">
                <div class="pass-reset">
                    <label>
                        Enter the email you signed up with</label>
                    <input type="email" placeholder="E-mail" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div>
            <div class="wrap">
                <p class="form-title">Register now to fork lemon</p>
                <hr class="colorgraph">
                <form class="log_regis" id="registerForm" action="register.do" method="post">
	                <fieldset>
		            <input type="text" placeholder="E-mail" id="email" name="email"/>
	                <input type="text" placeholder="Login name" id="loginId" name="loginId" onchange="loginIdCheck()"/>
	                <input type="text" placeholder="Nick name" id="userName" name="userName"/>
	                <input type="text" placeholder="Contact" id="contact" name="contact"/>
	                <input type="password" placeholder="Password" id="password" name="password" onchange="passwordCheck()"/>
	                <input type="password" placeholder="Confirm Password" id="cpassword" name="cpassword" onchange="passwordCheck()"/>
	                <input id="regsub" type="button" value="Register" class="btn btn-lg btn-success btn-block" onclick="registerGo()"/>
               		<div class="ret_msg">
						<span id="ret_msg" style="color:red">$!{ret_msg}</span>
                   	</div>
                   	<p class="text-center" ><a href="login"  style="color:#337ab7;">Already have an account</a></p>
                   	</fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="posted-by">Posted By: <a href="http://www.lemon.com">Leg Brother</a></div>
</div>
    	
    <script src="#springUrl('/resources/vendors/jquery-1.9.1.min.js')"></script>
    <script src="#springUrl('/resources/bootstrap/js/bootstrap.min.js')"></script>
    <script type="text/javascript">
    		 $(document).ready(function () {
				    $('.forgot-pass').click(function(event) {
				      $(".pr-wrap").toggleClass("show-pass-reset");
				    }); 
				    
				    $('.pass-reset-submit').click(function(event) {
				      $(".pr-wrap").removeClass("show-pass-reset");
				    }); 
			});
			
			function passwordCheck(){
				$("#ret_msg").empty();
				 var password = $('#password').val();
				 if(strEmpty(password)){
					$('#ret_msg').append("password is empty");
				 	return false;
				 }
				 var cpassword = $('#cpassword').val();
				 if(strEmpty(cpassword)){
					$('#ret_msg').append("confirm password is empty");
				 	return false;
				 }
				 
				 if(password != cpassword){
					$('#ret_msg').append("password not equals ");
				 	return false;
				 }
				 return true;
			}
			
			function loginIdCheck(){
				 $("#ret_msg").empty();
				 var loginId = $('#loginId').val();
				 if(!strEmpty(loginId)){
				 	
				   	$.ajax({
					  type: "POST",
					  url:'/$!{systemUtils.getContextName()}/registerval?loginId='+loginId,
					  dataType: "json",
					  success: function(response, loginIdCheck) {
					  				if(!response.succ){
					  					document.getElementById("registerForm").reset();
					  				}
									$('#ret_msg').append(response.message);
								}
					});
				 }
			}
			
			function registerGo(){
				 $("#ret_msg").empty();
				 
				 var email = $('#email').val();
		   		 if(strEmpty(email)){
		   			$("#ret_msg").append("email is empty");
		   			return;
		   		 }
		   		 var loginId = $('#loginId').val();
		   		 if(strEmpty(loginId)){
		   			$("#ret_msg").append("login name is empty");
		   			return;
		   		 }
		   		 //loginIdCheck();
		   		 var userName = $('#userName').val();
		   		 if(strEmpty(userName)){
		   			$("#ret_msg").append("Username is empty");
		   			return;
		   		 }
		   		 var contact = $('#contact').val();
		   		 if(strEmpty(contact)){
		   			$("#ret_msg").append("contact is empty");
		   			return;
		   		 }
		   		 if(passwordCheck()){
		   		 	var frm = document.getElementById('registerForm');
				 	frm.submit();
		   		 }
			}
			
			function strEmpty(str){
				if(str == undefined || str.trim() == "" ){
					return true;
				}
				return false;
			}
			
    </script>
  </body>
</html>