/*************************loading ***********************/

.g-loading-show {
  display: block;
}

.g-loading-hide {
  display: none;
}

.g-loading {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.g-loading .loading {
  margin-top: 25%;
  text-align: center;
}

.k-line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #1567f9;
}

.k-line11-1 {
  animation: k-loadingP 2s infinite
}

.k-line11-2 {
  animation: k-loadingP 2s infinite;
  animation-delay: .15s
}

.k-line11-3 {
  animation: k-loadingP 2s infinite;
  animation-delay: .30s
}

.k-line11-4 {
  animation: k-loadingP 2s infinite;
  animation-delay: .45s
}

.k-line11-5 {
  animation: k-loadingP 2s infinite;
  animation-delay: .60s
}

@keyframes k-loadingP {
  0% {
    transform: translateY(0)
  }
  35% {
    transform: translateY(0);
    opacity: .3
  }
  50% {
    transform: translateY(-20px);
    opacity: .8
  }
  70% {
    transform: translateY(3px);
    opacity: .8
  }
  85% {
    transform: translateY(-3px)
  }
}