.ct-out {
    margin: 5px;
}

.ct-block {
    border-color: #e7e7e7;
    border-width: 1px;
    border-radius: 5px;
    background-color: #fff;
}

.ct-block span {
    padding-left: 5px;
    color: #979a9a;
}

.ct-block p {
    font-size: 10px;
    padding-left: 5px;
    color: #333;
}

.ct-s-block {
    min-height: 200px;
}

.form-group label {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: bold;
}

.form-group {
    padding-right: 5px;
    margin-top: 10px !important;
}

.form-control {
    font-size: 12px;
}

.btn-s {
    font-size: 12px;
}

.btn-s:hover, .btn-s:active, .btn-s:focus {
    background-color: #979a9a;
    outline: none;
}

.error {
    color: #CB4335 !important;
    text-align: center;
}

input.error {
    text-align: left;
    border: 1px solid #CB4335;
}

input.error:focus, input.error:hover, input.error:active {
    border: 1px solid #CB4335 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}

.long-msg {
    white-space: normal !important;
    word-wrap: break-word;
    /*max-width: 300px;*/
}

.loading {
    text-align: center;
}

.show-m-info {
    cursor: pointer;
    background-color: #f2f3f4;
    border-radius: 5px;
    padding-left: 5px;
    /*width: 250px;*/
    margin-bottom: 10px;
}

.show-m-info:focus, .show-m-info:active, .show-m-info:hover {
    background-color: #ddd;
}

.pagination-holder {
    height: 30px;
    margin-top: -20px;
    padding-bottom: 40px;
}

.simple-pagination>ul {
    margin-left: 20px !important;
}

.simple-pagination>ul>li {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}

.tag-row {
    cursor: pointer;
    background-color: #f2f3f4;
    border-radius: 5px;
    padding-left: 5px;
    width: 250px;
    margin-bottom: 10px;
}

.tag-row:hover, .tag-row:focus, .tag-row:active {
    background-color: #ddd;
}

.tag-row>.tag {}

.tag-row>.time {}

.call-stack {}

.call-stack>.timestamp {
    padding-left: 5px;
}

.call-stack>.host {
    padding-left: 5px;
}

.call-stack>.framework {
    padding-left: 5px;
}

.m-cs-row>.row-at {
    padding-left: 20px;
}

.row-with {
    padding-left: 40px;
    padding-right: 10px;
    color: #979a9a;
}

.cs-thread {
    padding-left: 5px;
}

.cs-duration {
    color: #979a9a;
}

.cs-key {
    color: #979a9a;
}

.cs-value {
    color: #979a9a;
}

.jump-link {}

/*********************************************tooltip below*********************************************/

[tooltip] {
    position: relative;
}

[tooltip]::before, [tooltip]::after {
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
    /* opinions */
    text-transform: none;
    font-size: .9em;
}

[tooltip]::before {
    content: '';
    z-index: 1001;
    border: 5px solid transparent;
}

[tooltip]::after {
    content: attr(tooltip);
    /* magic! */
    z-index: 1000;
    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;
    /*
    Let the content set the size of the tooltips
    but this will also keep them from being obnoxious
    */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* visible design of the tooltip bubbles */
    padding: 1ch 1.5ch;
    /*border-radius: .3ch;*/
    border-radius: 5px;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
}

[tooltip]:hover::before, [tooltip]:hover::after {
    display: block;
}

/* don't show empty tooltips */

[tooltip='']::before, [tooltip='']::after {
    display: none !important;
}

@keyframes tooltips-vert {
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: 1;
        transform: translate(0, -50%);
    }
}

[tooltip]:not([flow]):hover::before, [tooltip]:not([flow]):hover::after, [tooltip][flow^="up"]:hover::before, [tooltip][flow^="up"]:hover::after, [tooltip][flow^="down"]:hover::before, [tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before, [tooltip][flow^="left"]:hover::after, [tooltip][flow^="right"]:hover::before, [tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
}

/**up**/

/* ONLY the ::before */

[tooltip]:not([flow])::before, [tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
}

/* ONLY the ::after */

[tooltip]:not([flow])::after, [tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}

/* Both ::before & ::after */

[tooltip]:not([flow])::before, tooltip]:not([flow])::after, [tooltip][flow^="up"]::before, [tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
}

/**down**/

[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
}

[tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before, [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
}

/**left**/

[tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
}

[tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
}

/**right**/

[tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
}

[tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
}

/*********************************************tooltip finish*********************************************/

.shortcut-menu {
    position: fixed;
    right: 25px;
    bottom: 10px;
    padding-bottom: 45px;
    z-index: 999;
}

.shortcut-menu .btn {
    width: 30px;
    height: 30px;
    margin-bottom: 1px;
    cursor: pointer;
    position: relative;
    padding: 0 !important;
}

.shortcut-menu .btn-top {
    background-color: #DDD;
    display: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

.shortcut-menu .btn-top:hover {
    background-color: #707b7c;
}

button.btn {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

table.form input {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
}

table.form th {
    font-size: 16px;
    line-height: 34px !important;
}

.tiff-ct .head {
    position: absolute;
    padding: 10px;
    padding-top: 0;
    background: rgba(255, 255, 220, 0.2);
    margin-top: 5px;
    font-size: 12px;
    height: 20px;
    line-height: 20px !important;
    border-radius: 2px;
    z-index: 20;
    opacity: 0.2;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tiff-ct .head:focus, .tiff-ct .head:active, .tiff-ct .head:hover {
    opacity: 1;
}

#tiff-show label.show-max {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
}

.tiff-ct .head>span {
    padding-right: 10px;
}

.tiff-ct p.error {
    color: #CB4335;
    padding: 20px;
    font-size: 20px;
}

.tiff-ct p.warning {
    color: #ff6600;
    padding: 20px;
    font-size: 20px;
}

.show-upload div.on {
    display: block;
}

.show-upload div.off {
    display: none;
}

.show-upload div.page-ct {
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex;
    z-index: 20;
}

.show-upload div.page-ct label {
    margin-bottom: 0px !important;
}

.show-upload div.page-ct label.page {
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.show-upload div.page-ct label.on {
    background: #555;
    border: 1px solid #555;
    color: #eee;
}

label.clean, label.show-max {
    background: #555;
    border: 1px solid #555;
    color: #eee;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.jump-ct label.page {
    background: #555;
    border: 1px solid #555;
    color: #eee;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 5px;
}

span.action {
    cursor: pointer;
}

span.action:hover {
    opacity: 0.8;
}

label.action:hover, label.show-max:hover, label.page:hover {
    opacity: 0.8;
    color: #fff;
}

label#sign-image-cut:hover {
    background: #555 !important;
    color: #fff !important;
    opacity: 0.8 !important;
}

.box-on {
    opacity: 1 !important;
    border: 2px solid green !important;
    color: green !important;
    font-size: 30px;
}

.box-off {
    opacity: 0.2 !important;
    border: 2px solid green !important;
    color: #555 !important;
    font-size: 30px;
}

.box-on i, .box-off i {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.box-on>label, .box-off>label {
    display: none;
}

.box-off:hover>label, .box-on:hover>label {
    display: block !important;
}

.box-on:hover, .box-off:hover, .box-on:focus, .box-off:focus, .box-on:active, .box-off:active {
    background: rgba(0, 250, 0, 0.3) !important;
}

#current-p-index {
    position: absolute;
    top: 20px;
    font-size: 12px;
    font-weight: bold;
    background: #555;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    color: #eee;
    z-index: 20;
}

#current-p-index span {
    padding-left: 5px;
    color: #eee;
}

/*.show-upload div.page-ct label.on:active,
.show-upload div.page-ct label.on:hover,
.show-upload div.page-ct label.on:focus{
	opacity: 0.7;
    color: #222;
}*/

.show-upload div.page-ct label.off {
    background: #eee;
    border: 1px solid #eee;
}

.jump-ct span:active, .jump-ct span:hover, .jump-ct span:focus, .show-upload div.page-ct label.off:active, .show-upload div.page-ct label.off:hover, .show-upload div.page-ct label.off:focus {
    background: #777;
    border: 1px solid #777;
    color: #eee;
}

.table-ct table th, .table-ct table td {
    /*padding-top: 6px !important;*/
    /*padding-bottom: 6px !important;*/
    font-size: 16px !important;
    line-height: 34px !important;
}

.table-ct table .form-control {
    font-size: 16px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

form input, form select {
    border-radius: 2px;
}

button.btn-off {
    background: #bbb !important;
    border: 1px solid #bbb !important;
}

button.btn-on {}

span.result-succ {
    color: green;
}

span.result-error {
    color: darkred;
}

span.result-error, span.result-succ {
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
}

div#submit-result {
    padding-top: 10px;
}

.g-loading-show {
    display: block;
}

.g-loading-hide {
    display: none;
}

.g-loading {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.g-loading .loading {
    margin-top: 25%;
}

.g-message {
    text-align: center;
    /*width: 100%;*/
    position: absolute;
    z-index: 11;
    top: 40px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 40%;
}

.g-message-on {
    display: block;
}

.g-message-off {
    display: none;
}

.g-message span.error {
    color: darkred;
}

.g-message span.success {
    color: green;
}

.g-message span.info {
    color: #1298EA;
}

.g-message span.error {
    color: #555;
}

.g-message span.warning {
    color: orange;
}

.mark-box {
    border-radius: 2px;
    border: 2px solid #CB4335;
    position: absolute;
    z-index: 100;
}

.mark-box:hover, .mark-box:focus, .mark-box:active {
    background: rgba(250, 200, 200, 0.5);
}

.mark-box:active {
    border: 2px solid darkred;
}

.mark-ct {
    background: rgba(208, 211, 202, 0.05);
    position: absolute;
    top: 0px;
    /*border-bottom: 1px solid #555;*/
    border: 1px dashed #999;
}

.preview-mark-ct .cell-ct,
.mark-ct .cell-ct{
	position: absolute;
	border: 2px solid #f4856f;
	border-radius: 2px;
}
.preview-mark-ct .cell-ct{
    z-index: 1;
}
.cell-ct:active,
.cell-ct:focus,
.cell-ct:hover{
    background: rgba(250, 0, 0, 0.1);
}

.preview-mark-ct .cell-hide,
.mark-ct .cell-hide{
	display: none;
}

.preview-mark-ct .cell-show,
.mark-ct .cell-show{
	display: block;
}
.mark-ct .cell-ct:active .cell-char,
.mark-ct .cell-ct:focus .cell-char,
.mark-ct .cell-ct:hover .cell-char{
    opacity: 1;
}
.mark-ct .cell-ct .cell-char{
	position: absolute;
	border: 1px solid #f4856f;
	border-radius: 2px;
	margin-top: -2px;
	margin-left: -2px;
    opacity: 0;
    transition: 0.5s;
}

#tiff-show-next .cell {
    position: relative;
}

#cover-canvas, #temp-canvas {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.02);
}

#temp-canvas {
    top: 0px;
    right: 0px;
}

label.clean {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 20;
}

#temp-clean {
    right: 40px;
}

p.blank {
    width: 100%;
    text-align: center;
    padding-top: 20%;
    color: #fff;
    font-size: 54px;
    font-family: 'Love Ya Like A Sister', cursive;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.show-upload .cell img {
    /*width: 100%;
    height: auto;*/
    max-width: 100%;
    max-height: 100%;
}

#tiff-show-next .cell img {
    /*width: 100%;
    height: auto;*/
    max-width: 100%;
    max-height: 100%;
}

.tiff-ct {
    padding: 5px;
    /*background: rgb(34, 34, 34);*/
    background: #999;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ct-s-block>span.title {
    display: block;
    position: absolute;
    border: 0px solid #fff !important;
    padding-left: 10px;
}

.modal-body .cell {
    overflow: auto;
    height: 100%;
}

span.error-tip {
    position: absolute;
    font-size: 10px;
    color: #CB4335;
    line-height: 10px;
    height: 10px;
    margin-top: -1px;
}

.matched-ct {
    background: #fff;
    text-align: center;
    /*border: 1px solid #ddd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;*/
}

.no-matched {
    font-size: 20px !important;
    text-align: center !important;
    color: #999 !important;
}

.position-ct {
    /*position: absolute;*/
    /*bottom: 10px;*/
    margin-top: 40px;
}
.preview-recon-position,
.recon-position,
.position-ct{
    font-size: 12px;
    color: #555;
}
.preview-recon-position input,
.recon-position input,
.position-ct input {
    width: 50px !important;
    padding-left: 5px;
}
.preview-recon-position{
    padding: 5px;
    padding-top: 8px;
    background: #ddd;
    max-width: 500px;
    color: green;
    border-radius: 2px;
}

.preview-ct{
    margin-top: 10px;
    height: calc(100% - 50px);
    overflow: auto;
    position: relative;
}
.preview-ct .canvas-container,
.show-upload .canvas-container {
    width: 0px !important;
    height: 0px !important;
    position: static !important;
}
.preview-ct .canvas-container .lower-canvas,
.preview-ct .canvas-container .upper-canvas,
.show-upload .canvas-container .lower-canvas,
.show-upload .canvas-container .upper-canvas {
    display: block;
    position: absolute;
    top: 0px;
}
.preview-ct .canvas-container .lower-canvas,
.show-upload .canvas-container .lower-canvas {
    z-index: 2;
}

.preview-ct .canvas-container .upper-canvas,
.show-upload .canvas-container .upper-canvas {
    z-index: 3;
    background: rgba(0, 0, 0, 0.3);
}

.alert {
    padding: 10px !important;
}

.name-ct:hover, .name-ct:active, .name-ct:focus, .name-active {
    border: 2px solid green !important;
    color: green !important;
}

.name-ct {
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 5px;
    padding-left: 5px;
    cursor: pointer;
    line-height: 30px;
    position: relative;
}

.name-ct label {
    margin: 0px;
}

.name-active label.flg {
    opacity: 1 !important;
}

.name-ct label.flg {
    opacity: 0;
    position: absolute;
    right: 5px;
    font-size: 20px;
}

.name-ct label.name {
    margin-right: 10px;
}

.tooltip_templates {
    display: none;
}

tbody#signature-val-result th, tbody#signature-val-result td, tbody#signature-val-result input, tbody#signature-val-result h4 {
    font-size: 16px !important;
    line-height: 28px !important;
    height: 28px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

tbody#signature-val-result h4 {
    line-height: 14px !important;
    height: 14px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

/*tbody#signature-val-result .alert{

}*/
.syn-option-ct,
.option-ct {
    position: absolute;
    z-index: 2000;
    right: 40px;
    bottom: 10px;
    /*height: 40px;*/
    padding: 5px;
    border-radius: 2px;
    background: #ddd;
    opacity: 0.1;
    color: #fff;
}
.syn-option-ct:hover,
.option-ct:hover {
    opacity: 1;
}

.syn-option-ct>span,
.option-ct>span {
    cursor: pointer;
    padding: 0 5px;
    color: #fff;
    display: inline-block;
    background: #555;
    border-radius: 2px;
}
.syn-option-ct>span:hover, .syn-option-ct>span:active, .syn-option-ct>span:focus,
.option-ct>span:hover, .option-ct>span:active, .option-ct>span:focus {
    color: #aaa;
    background: #888;
}

.option-ct>#stew {
    color: #aaa;
    width: 40px;
    border-radius: 2px;
    text-align: center;
}

#writer-list {
    margin-left: 10px;
    height: 32px;
    text-align: left;
}

.opt-off {
    display: none !important;
}

.page-arrow {
    position: absolute;
    left: 525px;
    top: 20px;
    cursor: pointer;
    border-radius: 2px;
    padding: 2px 5px;
    display: inline-block;
}

.page-arrow i {
    font-size: 14px !important;
    color: #555 !important;
}

.page-arrow:hover {
    background: #ddd;
}

i.btn-off {
    color: #aaa !important;
}

table.recon-ct tr, table.recon-ct th, table.recon-ct td {
    background: #fff;
}

table.recon-ct th, table.recon-ct td {
    padding: 5px;
    border: 1px solid red;
}

table.recon-ct input {
    padding-left: 5px;
    height: 18px !important;
    line-height: 18px !important;
    width: 120px;
}
.detail-ct .textarea-readonly, table.recon-ct textarea.textarea-readonly,
.detail-ct .textarea-readonly, table.recon-ct input.input-readonly {
    color: #CB4335 !important;
    background: #ddd !important;
}

.rect .opera,
table.recon-ct span.opera {
    margin-right: 3px;
    margin-left: 3px;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #ddd;
    color: #000;
    padding: 3px;
    font-size: 12px;
    height: 18px !important;
    line-height: 12px !important;
    opacity: 0.6;
}

.rect .opera-submit, table.recon-ct .opera-submit {
    border: 1px solid green !important;
    background: green !important;
    color: #fff !important;
}

.rect .opera-reset, table.recon-ct .opera-reset {
    border: 1px solid #ccc !important;
    background: #ccc !important;
    color: #000 !important;
}
table.recon-ct tr.recon-row:nth-child(even) td,
table.recon-ct tr.recon-row:nth-child(even){
    background: #eee;
}
table.recon-ct tr.recon-row-sub textarea,
table.recon-ct tr.recon-row-sub input{
    background: lightgreen;
}

.rect .opera-readonly{
    border: 1px solid transparent !important;
    background: transparent !important;
    color: #ddd !important;
}

.rect span.opera:hover, table.recon-ct span.opera:hover {
    opacity: 0.9;
}

.rect span.opera:active, .rect span.opera:focus, table.recon-ct span.opera:active, table.recon-ct span.opera:focus {
    opacity: 1;
}

.ocr-result-ct {
    padding-top: 20px;
    padding-left: 20px;
}

.ocr-result-ct .grid-ly {
    position: relative;
}

#ocr-result-clone .recon-position{
    max-width: 500px;
    top: 10px;
    left: 10px;
    max-height: 50px;
    color: red;
}

.ocr-result-ct .table-ly {
    padding-bottom: 20px;
    display: flex;
}

.ocr-result-ct .table-ly .end-padding {
    padding-right: 20px;
}

.detail-ct {
    /*overflow: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);*/
    display: flex;
    flex-wrap: wrap;
}

.detail-ct .rect-ct {
    position: absolute;
    background: transparent;
    padding-right: 20px;
    padding-bottom: 20px;
}

.detail-ct .rect-ct .rect {
    /*padding: 20px;*/
    padding: 0px;
    border: 2px solid #fff;
    border-radius: 2px;
    /*color: #fff;*/
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: auto;
}

.detail-ct .rect-ct .rect textarea {
    width: calc(100% - 0px);
    height: calc(100% - 30px);
    overflow: auto;
    resize: none;
    padding: 5px;
    padding-top: 0px;
    border-radius: 2px;
    min-height: 30px;
}
.detail-ct .rect-ct .rect textarea:hover{
    border-color: #1298EA;
}

.detail-ct .rect-ct .rect .opera-ct {
    height: 28px;
    margin: 0px;
    padding-left: 5px;
    background: transparent;
    padding-top: 0px;
    display: flex;
}

.detail-ct .rect-ct .rect .opera-ct select{
    margin-left: 2px;
    font-size: 12px;
    height: 18px;
    padding: 0px;
    line-height: 18px;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    /*text-indent: 1px;*/
    /*text-overflow: '';*/
    min-width: 50px;
}

.detail-ct .rect-ct .rect .opera-ct select::-ms-expand {
    display: none;
}

#ocr-result:hover .toolbar-ct {
    opacity: 1;
}

.toolbar-ct {
    position: absolute;
    top: 100px;
    left: 240px;
    /*width: 100px;*/
    border: 1px solid #eee;
    border-radius: 4px;
    background: #eee;
    padding: 3px;
    opacity: 0;
    transition: 0.6s;
}

.modal-body .toolbar-ct{
    display: none;
}

.toolbar-ct span.opera {
    display: inline-block;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 18px;
    line-height: 12px;
    cursor: pointer;
    color: #222;
}

.toolbar-ct span.opera:active, .toolbar-ct span.opera:focus, .toolbar-ct span.opera:hover {
    background: #ccc;
}

.toolbar-ct span.opera:active, .toolbar-ct span.opera:focus {
    background: #bbb;
}

.toolbar-ct span.opera i {
    font-size: 12px !important;
    color: #222 !important;
}

.ocr-result-ct .rect-1 {}

#layout-dropdown .dropdown-menu button{
    font-size: 12px !important;
}

.probability-bar{
    background: #eee;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 50px !important;
    line-height: 16px;
    height: 16px;
    position: absolute;
    right: 10px;
    display: flex;
}
.probability-bar .current-prob{
    background: green;
    color: #222;
    border-radius: 2px;
    line-height: 16px;
    height: 16px;
}

.probability-bar .prob-text{
    position: absolute;
    right: 5px;
    line-height: 16px;
    height: 16px;
}

#layout-dropdown .dropdown-menu button{
    width: 300px !important;
    padding-left: 5px;
}

.recon-position{
    padding-top: 10px;
/*    position: absolute;
    bottom: 20px;
    left: 5px;
    background: #fff;
    opacity: 0.4;
    font-size: 12px;
    padding: 5px;
    border-radius: 2px;*/
}

/*********************************carousel********************************************/
.breadcrumb {
	/*centering*/
	display: inline-block;
	/*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);*/
	overflow: hidden;
	border-radius: 5px;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
	counter-reset: flag;
	margin-left: 20px;
	background: transparent;
}

.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 16px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 40px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
	cursor: pointer;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
	padding-left: 36px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
	left: 14px;
}
.breadcrumb a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover{
	background: #333;
	background: linear-gradient(#333, #000);
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
	content: '';
	position: absolute;
	top: 0;
	right: -9px;
	/*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 16px;
	height: 16px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
	box-shadow:
		2px -2px 0 2px rgba(0, 0, 0, 0.4),
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
	content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumb a:before {
	content: counter(flag);
	counter-increment: flag;
	/*some styles now*/
	border-radius: 100%;
	width: 10px;
	height: 10px;
	line-height: 10px;
	margin: 3px 0;
	position: absolute;
	top: 0;
	left: 20px;
	background: #444;
	background: linear-gradient(#444, #222);
	font-weight: bold;
	font-size: 10px;
	text-align: center;
}


.flat a, .flat a:after {
	background: white;
	color: black;
	transition: all 0.5s;
}
.flat a:before {
	background: white;
	box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active,
.flat a:hover:after, .flat a.active:after{
	background: #9EEB62;
}

.rect-static{
    position: static !important;
}

.rect-static .rect,
.rect-static textarea,
.rect-static{
    height: auto !important;
}


#dialog-recon-detail .recon-detail{
    flex: 0 0 auto;
    height: 50%;
    padding: 20px;
}

.recon-ct textarea:active,
.recon-ct textarea:focus,
.recon-ct input:active,
.recon-ct input:focus,
.rect textarea:active,
.rect textarea:focus{
   background: #aed6f1;
}

#dialog-recon-detail .recon-detail #recon-pos-ct{
    display: block !important;
    position: absolute;
    top: 10px;
    left: 20px;
    background: #fff;
    opacity: 0.6;
    font-size: 12px;
    padding: 5px;
    border-radius: 2px;
}

#dialog-recon-detail .recon-image{
    flex: 1 1 auto;
    padding: 20px;
    height: calc(50% - 8px);
}

#dialog-recon-detail .splitter-horizontal{
    flex: 0 0 auto;
    height: 8px;
    width: 100%;
    /*background: lightgreen;*/
    background: #888;
    cursor: row-resize;
    text-align: center;
    line-height: 4px;
}

#dialog-recon-detail .modal-body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.layout-preview {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.ly-match{
    background: lightgreen;
    border-radius: 5px;
}
.ly-match p{
    color: #222 !important;
}

.layout-preview .layout-view{
    width: 13%;
    padding: 10px;
}
.layout-preview .ly-match .layout-na,
.layout-preview .ly-match img{
    border: 3px solid green !important;
}

.layout-na,
.layout-preview .layout-view img{
    width: 100%;
    border-radius: 5px;
    border: 3px solid transparent;
}
.layout-na:hover,
.layout-preview .layout-view img:hover{
    border: 3px solid #fa5959;
}

.layout-preview .layout-view p{
    width: 100%;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    font-size: 14px;
    height: 50px;
}

.layout-bar{
    display: inline-block;
    line-height: 34px;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
    width: 34px;
    text-align: center;
    border-radius: 2px;
}

.layout-bar:hover{
    background: #ddd;
}

.layout-na{
    font-size: 3vw;
    text-align: center;
    width: 100%;
    height: calc(100% - 55px);
    background: #fff;
    padding-top: 30%;
}

.detail-ct td textarea{
    padding-left: 5px;
    padding-top: 2px;
    min-height: 30px;
    height: 30px;
    max-height: 60px;
}

.row-opt > div{
    display: flex;
}

/*
#ocr-result .opera-ct{
    display: none;
}*/
