<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>404</title>
	<link href="#springUrl('/resources/lemon/css/common.css')" rel="stylesheet">
</head>
<body>

	<div class="container">
		<h1>404</h1>
		<p>Page not found</p>
	</div>

	<hr>

	<footer>
		<p>Cover template for Bootstrap, by
			@$!{systemUtils.getContextName()}.com</p>
	</footer>

</body>
</html>