<div class="meny">
	<h2>
		<a href="${WEB_CONTEXT_PATH}/home" style="color: #fff; text-decoration:none;">
			<span class="glyphicon glyphicon-home" style="padding-right: 5px;"></span>
		</a>
		Menu
	</h2>
	<ul>
		<li><a id="nav0" class="nav-link" href="${WEB_CONTEXT_PATH}/ocr/demo">Demo</a></li>
		<li><a id="nav1" class="nav-link" href="${WEB_CONTEXT_PATH}/ocr/signature">Signature</a></li>
		<li><a id="nav5" class="nav-link" href="${WEB_CONTEXT_PATH}/ocr/help">Help</a></li>
	</ul>
</div>
<!-- <script src="${WEB_CONTEXT_PATH}/resources/lib/shuffle/js/shuffle-text.js"></script> -->
<script type="text/javascript">

	$(document).ready(function(){
		$('.nav-link').click(function(e){
			var currentUrl = window.location.href;
			var url = $('#'+e.target.id).attr('href');
			console.log('currentUrl', currentUrl);
			console.log('url', url);

			if (currentUrl.indexOf(url) >= 0) {
					e.preventDefault();
					console.log('url equals and not need to jump');
					return;
			}
		});
	});



	function init() {
		  /*var arr = [];
		  for (var i = 0; i < 20; i++) {
			var elemnt = document.querySelector('#nav' + i);
			if(elemnt === undefined || elemnt === null){
				continue;
			}
			arr[i] = new ShuffleText(elemnt);
		  }
		  for (var i = 0; i < arr.length; i++) {


			$('#nav' + i)
			  .data('index', i)
			  .hover(function () {
				arr[$(this).data('index')].start();
			  }, function () {
				arr[$(this).data('index')].start();
			  });
			arr[i].start();
		  }*/
		}
</script>